extends layout

mixin controls
	p.controls
		-if (page > 1) {
			a(href='/gallery/#{parseInt(page)-1}') Previous page
		-}
		a(href='/gallery/#{parseInt(page)+1}') Next page

block content
	script(src='/javascripts/show_images.js')
	script(src='/javascripts/jquery.grid-a-licious.js')
	p: a(href='/') Atrás
	+controls
	p(style='text-align: center;')
		b Stay tuned for a cool new feature!
	p Click on an image to see it.
	.wrapper.gallery
		-imagenes.forEach(function(item){
			.item
				a(href='/gallery/show/#{item.split(".")[0]}')
					img(src='#{origin}#{item}', style='opacity: 0')
		-});
	+controls

	script.
		(function() {
			$(".gallery").gridalicious({
				selector: ".item",
				Width: 180,
				animate: true,
				gutter: 0,
				animationOptions: {
					speed: 100
				},
			});
		}).call(this);